* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
.container{
    border: 1px solid red;
    height: 200px;
    background-color: red;
    width: 100%;
    margin-left: 10px;
}
.container-2{
    border: 1px solid red;
    background-color: red; 
    width: 100%;
    object-fit: cover;
} 
*/

/* ! Weather Styles start from here for making a banner  */

.banner {
    border: 5px solid blue;
    display: flex;
    justify-content: space-around;
}
/* image container start here  */
.image-container {
   border: 2px solid red;
   width: 45%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   gap: 3px;
   /* grid-template-rows: repeat(2, 1fr); */
   justify-content: space-around;
}
img{
    width: 100%;
    height: 100%;
}
.image1{
    width: 200px;
    height: 200px;
    /* grid-column: 1/-1; */
}
.image2{
    width: 200px;
    height: 200px;
    
}
.image3{
    width: 200px;
    height: 200px;
    
}
.image4{
    width: 200px;
    height: 200px;
    
}
.image5{
    width: 200px;
    height: 200px;
    
}
.image6{
    width: 200px;
    height: 200px;
    
}
.image7{
    width: 200px;
    height: 200px;
    
}
.image8{
    width: 200px;
    height: 200px;
    
}
/* image container end here  */
.text-container {
    border: 2px solid green;
    width: 45%;
}
